<%# Date-range filter. The #custom_datatable_date_from / _to inputs and the
    #date_range_apply button keep their ids so the jQuery datepicker binds them.
    The Apply button's data-action drives the Stimulus controller, which reads the
    two inputs and adds custom_datatable_date_from/to to the fragment params on
    redraw. This block sits outside #effective_datatable_wrapper, so it survives
    redraws untouched. %>
<div>
<h4><%= filter_name %></h4>
From:
<input type="text" id="custom_datatable_date_from" class="datepicker">&nbsp;<i class="fa fa-calendar datepicker" aria-hidden="true"></i>
&nbsp;&nbsp;&nbsp;&nbsp;To:
<input type="text" id="custom_datatable_date_to" class="datepicker">&nbsp;<i class="fa fa-calendar datepicker" aria-hidden="true"></i>
&nbsp;&nbsp;<div class="btn btn-default" id="date_range_apply" data-action="click->datatable#applyDateRange">Apply</div>
</div>
<br>
