setTabContent("<%= escape_javascript render 'index' %>");
set_active_ontab("#employers-tab");
<% if flash[:notice].present? %>
	$(".flash_message").html("<div class='alert alert-success'><a class='close' data-dismiss='alert'>x</a> <%=flash[:notice]%></div>");
<% end %>
