<div class="row emp-welcome-msg">
	<div class="col-md-11 col-sm-12 col-xs-12 no-pd">
	  <div class="col-md-10 col-sm-10 no-pd col-xs-12">
	    <p>
	      <%= l10n('employers.census_employees.er_registration_begins') %>
	    </p>
	  </div>
	  <div class="clearfix"></div>
	  <a href="#" class="btn btn-continue" id="continue"><%= l10n('yes') %>!</a>
	</div>
</div>