<div class="container content-bottom">
	<div class="col-xs-12 col-sm-9 row">
	<p class="starter">
		<%= l10n('employers.employer_profiles.er_account_access_pending_text') %>
	</p>
	<br/>
	<%= link_to l10n('back'), site_home_url , class: 'btn btn-primary' %>
	</div>
</div>
