<div id="download_v2_xml_form_container">
  <%= form_tag(download_v2_xml_exchanges_employer_applications_path(id: application.id, employer_id: @benefit_sponsorship.id, employer_application_id: application.id, employer_actions_id: "#{params[:employers_action_id].to_s}"), method: :post, remote: true) do %>
    <%= hidden_field_tag :selected_event, nil, id: "selected_event_type_#{application.id}" %>
    <%= submit_tag "Download V2 XML", id: "download_button_#{application.id}", class: "btn btn-primary btn-sm disabled" %>
  <% end %>
</div>
