<!DOCTYPE html>
<html>
<head>
  <title>IvlBenefitSponsors</title>
  <%= stylesheet_link_tag    "ivl_benefit_sponsors/application", media: "all" %>
  <%= javascript_include_tag "ivl_benefit_sponsors/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
