<div class="sidebar list-group text-center">
  <div id="family_sidebar">
    <a class="employer_info list-group-item name" href="#"><%= l10n('employers.census_employees.ee_info') %><div class="arrow-right"></div></a>
    <a class="address_info list-group-item address" href="#"><%= l10n('address') %><div class="arrow-right"></div></a>
    <a class="dependent_info list-group-item email sidebar-email-field" href="#"><%= l10n('employers.census_employees.dep_info') %><div class="arrow-right"></div></a>
  </div>
</div>