---
registry:
  - namespace:
    - :enroll_app
    - :aca_shop_market
    features:
      - key: :benefit_application_reinstate
        is_enabled: <%= ENV['BENEFIT_APPLICATION_REINSTATE'] || true %>
      - key: :benefit_application_revise_end_date
        is_enabled: <%= ENV['BENEFIT_APPLICATION_REVISE_END_DATE'] || true %>
      - key: :benefit_application_history
        is_enabled: <%= ENV['BENEFIT_APPLICATION_HISTORY'] || true %>
      - key: :restrict_benefit_application_admin_actions_24_hours
        is_enabled: <%= ENV['RESTRICT_APPLICATION_ADMIN_ACTIONS_24_HOURS'] || true %>
